src
test
.vscode
.travis.yml
generate-enums.ts
tsconfig.json
tsconfig.test.json
tslint.json

.github
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.eslintignore
.eslintrc*
LICENSE
.prettierrc.json
test.ts
.idea
.eslingcache
